pandas
datasets
huggingface_hub
pillow
pymupdf4llm
langchain-text-splitters
torch
transformers
accelerate
qdrant-client
numpy
markdown
bs4
google-generativeai
matplotlib
jupyter
scikit-learn
nltk
seaborn
wordcloud
xgboost
rank_bm25
adjustText
python-dotenv